body {
  font-family: Arial, sans-serif;
  font-size: 25px;
}

.scrollable-table {
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
  margin-top: 20px;
  border: 1px solid #ddd;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  display: table;
  width: 100%;
  table-layout: fixed;
}

thead tr {
  display: block; /* New line */
}

tbody {
  display: block;
  overflow-y: auto;
  max-height: 500px;
  width: 100%;
  table-layout: fixed;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  width: 100%;
}

th {
  background-color: #FFD700;
  color: black;
  display: block; /* New line */
}

tr {
  display: block;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}