/* style.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); /* Import Roboto font */

@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700&display=swap"); /* Import Recursive font */

/* Reset default margin and padding */
html{
  background-color: rgba(25, 25, 112, 0.1);
}

body {
  font-family: "Recursive", "Roboto", "Italia", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Set up font */
html {
  font-family: "Roboto", "Italia", sans-serif;
  text-align: center;
}

/* Header styles */
.header {
  background: linear-gradient(to bottom, #ffd700 0%, #ffd700 70%, rgba(25, 25, 112, 0.05) 100%);
  padding: 20px 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}


h2 {
  font-size: 1.5rem;
  color: #000000;
  font-family: "Recursive", "Roboto", "Italia", sans-serif; /* Use Recursive font */
  font-weight: bold; /* Make the text bold */
  margin: 0;
  text-align: center;
  flex: 1;
}

/* Footer styles */
.footer {
  background: linear-gradient(to top, #ffd700 0%, #ffd700 80%, rgba(25, 25, 112, 0.05) 100%);
  padding: 20px 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.footer-text {
  font-size: 1rem;
  color: #000000;
  font-family: "Recursive", "Roboto", "Italia", sans-serif; /* Use Recursive font */
  font-weight: bold; /* Make the text bold */
  margin: 0;
  text-align: center;
  flex: 1;
  margin-right: 3%;
}

/* Logo styles */
/* .logo {
  margin-right: auto;
  text-align: right;
}

.logo-img {
  max-width: 35%;
  height: auto;
} */

/* Content styles */
.content {
  padding: 50px;
  padding-bottom: 10px;
}

.card-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto; /* Creates two rows */
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.card-container {
  grid-column: 2; /* Places the existing cards in the first column */
  grid-row: 1; /* Places the existing cards in the first row */
}

.card {
  grid-column: 2; /* Spans across both columns */
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  width: 70%;
  margin-left: 11%;
  margin-top: 10%;
}

.info-card {
  grid-column: 1;
  grid-row: 2; /* Places the info card in the second row */
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  width: 50%;
  margin-left: 20%;
}

.status-card {
  grid-column: 3;
  grid-row: 2; /* Places the info card in the second row */
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  width: 50%;
  margin-left: 20%;
}

.io-card svg {
  grid-column: 2; 
  grid-row: 2;
  margin-bottom: 20px;
  margin-left: 0%;
  margin-top: 0%;
  width: 20rem;
  height: 40rem;
}

.signal-strength {
  display: flex;
  justify-content: space-between;
  width: 120px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  grid-column: 1;
  grid-row: auto;
  padding: 5px; /* Adds some space around the bars */
}

.signal-bar {
  width: 15%; /* Adjust as needed */
  height: 100%;
  background: linear-gradient(to bottom, #ccc, grey); /* Adds a gradient background */
  border: 1px solid #333; /* Adds a border */
  border-radius: 10px;
  margin-right: 4px; /* Adjust as needed */
  transition: background 0.3s ease-in-out;
}

.signal-bar:last-child {
  margin-right: 0;
}

.statusReading {
  font-size: 1rem;
}

button {
  font-family: "Recursive", "Roboto", "Italia", sans-serif;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.connectButton {
  background-color: #24af37;
  cursor: pointer;
}

.disconnectButton {
  background-color: #d13a30;
  cursor: pointer;
}

.gray-label {
  color: #bebebe;
  font-size: 1rem;
}

/* For mobile devices, ensure content is centered */
@media (max-width: 1076px) {
  .card-table {
    grid-template-columns: 1fr;
  }

  .card,
  .info-card,
  .status-card {
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    padding: 5%; /* Adjust as needed */
    margin-left: 9%; /* Adjust as needed */
    margin-bottom: 0%;
    margin-top: 3%;
  }

  .io-card svg {
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    margin-left: 1%; /* Adjust as needed */
    margin-top: -11%;
    margin-bottom: -5%;
  }

  .signal-strength {
    display: flex;
    justify-content: space-between;
    width: 70%; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    grid-column: 1;
    grid-row: auto;
    padding: 5px; /* Adds some space around the bars */
    margin-top: 5%;
    margin-left: 15%; /* Adjust as needed */
  }

  .signal-bar {
    width: 15%; /* Adjust as needed */
    height: 100%;
    background: linear-gradient(to bottom, #ccc, grey); /* Adds a gradient background */
    border: 1px solid #333; /* Adds a border */
    border-radius: 10px;
    margin-right: 4px; /* Adjust as needed */
    transition: background 0.3s ease-in-out;
  }

  .signal-bar:last-child {
    margin-right: 0;
  }
}

@media (max-width: 768px) {
  .card-table {
    grid-template-columns: 1fr;
  }

  .card,
  .info-card,
  .status-card{
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    padding: 5%; /* Adjust as needed */
    margin-left: 9%; /* Adjust as needed */
    margin-bottom: 0%;
  }

  .io-card svg {
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    margin-left: 0%; /* Adjust as needed */
    margin-top: -17%;
  }

  .signal-strength {
    display: flex;
    justify-content: space-between;
    width: 70%; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    grid-column: 1;
    grid-row: auto;
    padding: 5px; /* Adds some space around the bars */
    margin-top: 5%;
    margin-left: 14%; /* Adjust as needed */
  }

  .signal-bar {
    width: 15%; /* Adjust as needed */
    height: 100%;
    background: linear-gradient(to bottom, #ccc, grey); /* Adds a gradient background */
    border: 1px solid #333; /* Adds a border */
    border-radius: 10px;
    margin-right: 4px; /* Adjust as needed */
    transition: background 0.3s ease-in-out;
  }

  .signal-bar:last-child {
    margin-right: 0;
  }

  .footer-text {
    margin-right: 8%;
  }
}

/* For very small screens */
@media (max-width: 500px) {
  .card-table {
    grid-template-columns: 1fr;
  }

  .card,
  .info-card,
  .status-card {
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    padding: 5%; /* Adjust as needed */
    margin-left: 10%; /* Adjust as needed */
    margin-bottom: 0px;
  }

  .io-card svg {
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    margin-left: 1%; /* Adjust as needed */
    margin-top: -30%;
    margin-bottom: -5%;
  }

  .signal-strength {
    display: flex;
    justify-content: space-between;
    width: 70%; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    grid-column: 1;
    grid-row: auto;
    padding: 5px; /* Adds some space around the bars */
    margin-top: 5%;
    margin-left: 15%; /* Adjust as needed */
  }

  .signal-bar {
    width: 15%; /* Adjust as needed */
    height: 100%;
    background: linear-gradient(to bottom, #ccc, grey); /* Adds a gradient background */
    border: 1px solid #333; /* Adds a border */
    border-radius: 10px;
    margin-right: 4px; /* Adjust as needed */
    transition: background 0.3s ease-in-out;
  }

  .signal-bar:last-child {
    margin-right: 0;
  }

  .footer-text {
    margin-right: 8%;
  }
}

/* For very very small screens */
@media (max-width: 400px) {
  .card-table {
    grid-template-columns: 1fr;
  }

  .card {
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    padding: 5%; /* Adjust as needed */
    margin-left: 10%; /* Adjust as needed */
    margin-top: 10%;
  }
  .info-card,
  .status-card {
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    padding: 5%; /* Adjust as needed */
    margin-left: 10%; /* Adjust as needed */
  }

  .io-card svg {
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    margin-left: 1%; /* Adjust as needed */
    margin-top: -45%;
    margin-bottom: -65%;
  }

  .signal-strength {
    display: flex;
    justify-content: space-between;
    width: 70%; /* Adjust as needed */
    height: 30px; /* Adjust as needed */
    grid-column: 1;
    grid-row: auto;
    padding: 5px; /* Adds some space around the bars */
    margin-top: 5%;
    margin-left: 15%; /* Adjust as needed */
  }

  .signal-bar {
    width: 15%; /* Adjust as needed */
    height: 100%;
    background: linear-gradient(to bottom, #ccc, grey); /* Adds a gradient background */
    border: 1px solid #333; /* Adds a border */
    border-radius: 10px;
    margin-right: 4px; /* Adjust as needed */
    transition: background 0.3s ease-in-out;
  }

  .signal-bar:last-child {
    margin-right: 0;
  }

  .footer-text {
    margin-right: 8%;
  }
}

.connectButton {
    background-color: #24a437;
}
