/* style.css */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"); /* Import Roboto font */

@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;600;700&display=swap"); /* Import Recursive font */

/* Reset default margin and padding */
html,
body {
  font-family: "Recursive", "Roboto", "Italia", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(25, 25, 112, 0.05);
  min-height: 100vh;
}

/* Set up font */
html {
  font-family: "Roboto", "Italia", sans-serif;
  text-align: center;
}

/* Header styles */
.header {
  background-color: #ffd700;
  padding: 20px 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-size: 1.5rem;
  color: #000000;
  font-family: "Recursive", "Roboto", "Italia", sans-serif; /* Use Recursive font */
  font-weight: bold; /* Make the text bold */
  margin: 0;
  text-align: center;
  flex: 1;
}

/* Footer styles */
.footer {
  background-color: #ffd700;
  padding: 20px 20px; /* Adjust padding as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.footer-text {
  font-size: 1rem;
  color: #000000;
  font-family: "Recursive", "Roboto", "Italia", sans-serif; /* Use Recursive font */
  font-weight: bold; /* Make the text bold */
  margin: 0;
  text-align: center;
  flex: 1;
}

/* Logo styles */
/* .logo {
  margin-right: auto;
  text-align: right;
}

.logo-img {
  max-width: 35%;
  height: auto;
} */

/* Content styles */
.content {
  padding: 50px;
  padding-bottom: 10px;
}

.card-table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto; /* Creates two rows */
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.card-container {
  grid-column: 2; /* Places the existing cards in the first column */
  grid-row: 1; /* Places the existing cards in the first row */
}

.card {
  grid-column: 2; /* Spans across both columns */
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  width: 70%;
  margin-left: 10%;
}

.info-card {
  grid-column: 1;
  grid-row: 2; /* Places the info card in the second row */
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  width: 50%;
  margin-left: 20%;
}

.status-card {
  grid-column: 3;
  grid-row: 2; /* Places the info card in the second row */
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
  width: 50%;
  margin-left: 20%;
}

.io-card {
  grid-column: 2; /* Places the I/O card in the second column */
  grid-row: 2 / span 3; /* Places the I/O card in the second row and spans three rows */
  margin-bottom: 20px;
  margin-left: 20%;
  width: 20rem;
  height: 40rem;
}

.statusReading {
  font-size: 1rem;
}

/* .write-card {
  background-color: white;
  box-shadow: 2px 2px 12px 1px rgba(140, 140, 140, 0.5);
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
}

#writeValue {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
} */

/* #writeButton {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

#writeButton:hover {
  background-color: #45a049;
} */

button {
  font-family: "Recursive", "Roboto", "Italia", sans-serif;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.connectButton {
  background-color: #24af37;
  cursor: pointer;
}

.disconnectButton {
  background-color: #d13a30;
  cursor: pointer;
}

.gray-label {
  color: #bebebe;
  font-size: 1rem;
}

/* For mobile devices, ensure content is centered */
@media (max-width: 1076px) {
  .card-table {
    grid-template-columns: 1fr;
  }

  .card,
  .info-card,
  .status-card,
  .io-card {
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    
    padding: 5%; /* Adjust as needed */
    margin-left: 8%; /* Adjust as needed */
  }
}

@media (max-width: 768px) {
  .card-table {
    grid-template-columns: 1fr;
  }

  .card,
  .info-card,
  .status-card,
  .io-card {
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    
    padding: 5%; /* Adjust as needed */
    margin-left: 9%; /* Adjust as needed */
  }
}

/* For very small screens */
@media (max-width: 500px) {
  .card-table {
    grid-template-columns: 1fr;
  }

  .card,
  .info-card,
  .status-card,
  .io-card {
    grid-column: 1;
    grid-row: auto;
    width: 70%; /* Adjust as needed */
    
    padding: 5%; /* Adjust as needed */
    margin-left: 10%; /* Adjust as needed */
  }
}

.connectButton {
    background-color: #24a437;
}
